*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.App {
  /* outline: 1px dashed; */
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.filter {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.toggle {
  /* outline: 1px dashed; */
  flex: 0 1 160px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 20px;
}

.toggle__input {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 1px;
  height: 1px;
}

.toggle__input:checked + .toggle__img {
  background-color: green;
}

.toggle__input:checked + .toggle__img::before {
  transform: translate(16px, -50%);
}

.toggle__img {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 40px;
  height: 100%;
  background-color: #ddd;
  border-radius: 30px;
  transition: all 0.32s;
}

.toggle__img::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.32s;
}

.list {
  border: solid #ddd;
  border-width: 1px 1px 0;
}

.list__item {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
